@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <h3 style="text-align: center; color: blue;">GADS2014N - 10º trimestre - INFNET</h3>
    <p class="form-control">AV 2 - Programação .NET Web II</p>
    <ul>
        <li class="list-group">Alunos do projeto: Waldivino Frederico e Marcio Lobo.</li>
    </ul>
</div>